/* TODO: figure how to style hr's */
/* hr { */
/*   color: var(--color-fg0); */
/*   margin: 20px; */
/*   border: 0; */
/*   border-bottom: 1px dashed var(--color-green); */
/* } */

.warning {
  color: var(--color-red);
}

#neowire {
  color: var(--color-green);
  text-align: center;
 }

#copyright {
  color: var(--color-green);
}

#footer_intro {
  color: var(--color-blue);
}

#footer {
  color: var(--color-aqua);
}

#fake_url {
  color: var(--color-purple);
  font-weight: bold;
  font-size: 18pt;
}

#sidebar {
  margin-top: 20px;
  background-color: var(--color-bg0);
}

#sidebar_img {
  margin-top: 20px;
  margin-bottom: 20px;
  /* width: 300px; */
  /* height: 400px; */
  width: 100%;
}

pre {
  border-width: 5px;
  border-style: solid;
  border-color: var(--color-green);
  padding: 20px;
}

code {
  color: var(--color-green);
}

/* #wrapper { */
/*   width: 90%; */
/* } */

ul {
  list-style-type: none; /* Remove default bullets */
}

li::before {
  content: "*"; /* Set the asterisk as the bullet */
  margin-right: 0.5em; /* Add some spacing between the bullet and the text */
}

a {
  color: var(--color-light-green);
}

.active a {
  color: var(--color-light-purple);
  font-weight: bold;
}

a:hover {
  background: var(--color-green);
  color: var(--invert-font-color);
}

img {
  width: 100%;
}

::-moz-selection {
  background: var(--color-green);
  color: var(--invert-font-color);
}

::selection {
  background: var(--color-green);
  color: var(--invert-font-color);
}

body {
  color: var(--color-fg0);
  background-color: var(--color-bg0);
  font-size: 14;
  /* line-height: ; */
  font-family: var(--font-stack);
  mono-font-stack: var(--mono-font-stack);
  word-wrap: break-word;
  margin: 0;
}

:root {
  /* Background Colors */
  --color-bg0: #101014;
  --color-bg0-hard: #1d1d21;
  --color-bg0-soft: #25252b;
  --color-bg1: #35353c;
  --color-bg2: #4b4b54;
  --color-bg3: #62626c;
  --color-bg4: #787881;

  /* Foreground Colors */
  --color-fg0: #f8f8f8;
  --color-fg1: #e3e3e3;
  --color-fg2: #cfcfd0;
  --color-fg3: #b9b9bb;
  --color-fg4: #a4a4a6;

  /* Accent Colors */
  --color-red: #b72837;
  --color-green: #7cc272;
  --color-yellow: #f9c74f;
  --color-blue: #7366bd;
  --color-purple: #a868b9;
  --color-aqua: #42c8c4;
  --color-orange: #f1863c;
  --color-gray: #8a8a8c;

  /* Light Colors */
  --color-light-red: #f0657d;
  --color-light-green: #9ed275;
  --color-light-yellow: #ffd166;
  --color-light-blue: #a594d3;
  --color-light-purple: #d398c7;
  --color-light-aqua: #74e4e1;
  --color-light-orange: #ffaa6b;
  --color-light-gray: #b4b4b7;

  /* actually using the colors in the css */
  --background-color: var(--color-bg0);
  --font-color: var(--color-fg1);
  --invert-font-color: var(--color-bg0-hard);
  --primary-color: var(--color-blue);
  --secondary-color: var(--color-green);
  --tertiary-color: var(--color-gray);
  --error-color: var(--color-red);
  --progress-bar-background: var(--color-bg2);
  --progress-bar-fill: var(--color-fg2);
  --code-bg-color: var(--color-bg0);

  /* width of the page */
  --page-width: 80em;

  /* fonts */
  --font-stack: Hack, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  --mono-font-stack: Hack, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}
.folddownMain{
  transform-origin: top;
  animation: 0.5s ease-out 2s both foldDown;
}
.folddownSide{
  transform-origin: top;
  animation: 0.5s ease-out 0s both foldDown;
}

.spreadCenterFooter{
  animation: 1s ease-in 2s 1 spreadCenterHr;
}
/*a class that makes a slide in animation from the top*/
.slideInTop {
  animation: 1s ease-out 0s 0.1 slideInTop;

}
/*Animations to use for various elements classes and divs*/
  /* Folddown animation, folds down from top of browser window*/
@keyframes foldDown{
  0%{
      opacity:0;
      height:0;
  }
  1%{
      opacity:0;
      transform:scaleY(0%);
  }
  100%{
      opacity:1;
      transform:scaleY(100%);
  }
}
  /*Animation that spreads div from center, ideal for hrs*/
@keyframes spreadCenterHr{
  0%{
      transform:scaleX(0%);
      color:grey;
  }
  100%{
      transform:scaleX(100%);
      color:#00ff0069;
  }

}
/*animation definition called slideInTop*/
@keyframes slideInTop{
  0%{
      transform: translateY(-100%);
  }
  100%{
      transform: translateY(0%);
  }
}